*{margin: 0px;padding: 0px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-family: sans-serif;}
a{display: inline-block;}
body{ font-size: 62.5%; font-family: "arial", sans-serif; color: #555;}
img{border: 0; max-width: 100%;}